<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>coshop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .btn-primary {
      color: #fff;
      background-color: #318a8f;
      background-image: linear-gradient(to bottom,#318a8f,#318a8f);
      border-color: #318a8f;
    }

    .progress .bar {
        background-image: linear-gradient(to bottom,#62c462,#62c462);
    }

</style>

<body>
  <font face="arial">
    <center><img src='static/logo.png'>
      <!-- <form name="amazonurl" action="action_page.php" method="post"> -->
      <form name="amazonurl" action="/form" method="post">
          <div class="form-group row">
            <div class="col-sm-12" >
              Amazon URL: <input type="text" name="amazonProduct" size=50>
              <button type="submit" class="btn btn-primary" onclick="">Continue</button>
            </div>
          </div>
      </form>
      <!-- <a href="templates/form.html">Begin</a> -->
    </center>
  </font>
</body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
