<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>coshop</title>
<!--   <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" /> -->
  <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
</head>

<body>
  <font face="arial">
    <center><img src='static/logo.png'>
      <!-- <form name="amazonurl" action="action_page.php" method="post"> -->
      <form name="amazonurl" action="/form" method="post">
      <!-- <form name="amazonurl" method="get"> -->
      	Amazon URL: <input type="text" name="amazonProduct" size=50><br>
      <input type="submit" value="Generate Post" onclick=''>
      </form>
      <!-- <a href="templates/form.html">Begin</a> -->
    </center>
  </font>
</body>
</html>
